/*Navbar*/
.navbar-margin-top {
    margin-top: 40px;
}
.navbar-margin-bottom {
    margin-bottom: 30px;
}
#custom-navbar p {
    font-size: 1.5em;
    color: white;
    display: inline;
    padding-left: 20px;
    opacity: .9;
    color: #e0e0e0;
}
#custom-navbar p:hover {
    color: #999;
}
#custom-navbar a {
    text-decoration: none;
}


/*Body*/
body {
    background-image: url(/resume/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    color: white;
}
i {
    color: white;
    padding-top: 30px;
}
hr {
    margin: 20px 40px 0 40px; 
}
h3 {
    color: white;
}
a {
    text-decoration: none;
}
.square-box {
    height: 180px;
}

.square-box-light {
    background-color: #00b7cc;
    height: 180px;
    opacity: .9;
}
.square-box-red {
    background-color: #fc5555;
    height: 180px;
    opacity: .9;
}
.square-box-red:hover {
    background-color: #d62f2c;
    border: 3px solid white;
    opacity: .8;
}
.square-box-black {
    background-color: #333;
    height: 180px;
    opacity: .9;
    color: white;
}
.open-boxes {
    background-color: #fc5555;
    height: 180px;
    opacity: .9;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.open-boxes a{
    text-decoration: none;
}
.open-box {
    background-color: #fc5555;
    height: 180px;
    opacity: .9;
    border-bottom: 1px solid white;
}
.open-box a{
    text-decoration: none;
}
.open-click:hover {
    background-color: #d62f2c;
}
.word-spacing-jason{
    letter-spacing: 10px;
}
.word-spacing-design{
    letter-spacing: 5px;
}
.profile-img {
    background-image: url(/resume/img/profile-photo.jpg);
    background-size: cover;
    height: 180px;
}
.margin-top {
    margin-top: 20px;
}
.logo-padding {
    padding-top: 20px;
}
.img-photography:hover {
    background-color: #111;
}
.img-photography {
    background-image: url(/resume/img/photography.jpg);
    background-size: cover;
    padding-top: 50px;
}
.img-travel {
    background-image: url(/resume/img/travel.jpg);
    background-size: cover;
    padding-top: 50px;
}
.img-food {
    background-image: url(/resume/img/food.jpg);
    background-size: cover;
    padding-top: 50px;
}
.img-outdoors {
    background-image: url(/resume/img/outdoor.jpg);
    background-size: cover;
    padding-top: 50px;
}
.img-creative {
    background-image: url(/resume/img/creative.jpg);
    background-size: cover;
    background-position: bottom;
    padding-top: 50px;
    height: 180px;
}
.img-code {
    background-image: url(/resume/img/code.jpg);
    background-size: cover;
    padding-top: 15px;
    background-position: center;
    height: 180px;
}
.img-code h1{
    font-size: 4em;
}
.img-creative h2{
    border: 2px solid white;
    font-weight: 400;
    padding: 10px 0;
    margin: 0 40px;
    color: white;
}
.img-padding{
    background-color: #222;
    opacity: .9;
}
#jason {
    padding-top: 30px; 
    background-position: center;
    background-color: #222;
    opacity: .9;
}
.white-box {
    border: 2px solid white;
}
.img-text h3{
    border: 3px solid white;
    padding: 10px 0;
}
.portfolio {
    font-size: 4em;
    padding: 10px 0;
    margin: 40px;
}
.portfolio-margin {
    margin-top: 15px;
}
.thumbnail-box {
    background-color: #333;
    border: none;
    border-radius: 0;
    opacity: .95;
}
.thumbnail-box:hover {
    background-color: #111;
}
.go-button {
    border: 1px solid #4aad4a;
    color: #4aad4a;
    margin: 0 80px 5px 80px;
    padding: 5px 0;
    transition: 1s ease;
}
.go-button:hover {
    border: 1px solid #4aad4a;
    color: white;
    background-color: #4aad4a;
}
.portfolio-margin a {
    text-decoration: none;
}


/*Scroll Bar*/
::-webkit-scrollbar {
    width: 13px;  
}
::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
    padding-left: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Glow*/
/*@-webkit-keyframes glow {
from {
    box-shadow: 0 0 10px #4aad4a;
    text-shadow: 0 0 10px #4aad4a;
}
to {
    box-shadow: 0 0 5px #4aad4a;
    text-shadow: 0 0 5px #4aad4a;
}
}*/
